<footer class="footer">
      <div class="footer__inner">
        <div class="footer__title">ОБУЧЕНИЕ БИТРИКС24</div>
        <iframe class="footer__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.0754624260546!2d30.35891641609666!3d59.93088998187338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bb47d4ee6d%3A0x6fdf55fb16baea12!2z0L_Quy4g0JLQvtGB0YHRgtCw0L3QuNGPLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsw!5e0!3m2!1sru!2sru!4v1596192089469!5m2!1sru!2sru" width="1920" height="805" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe class="footer__map">
        <div class="footer__contacts-box">
          <div class="footer__contacts">
          <div class="footer__contacts-title">Наши контакты</div>
          <a  class="footer__contacts-phone" href="">+375 (25) 909 09 55 (life)</a>
          <a  class="footer__contacts-phone" href="">+375 (33) 695 09 55 (МТС)</a>
          <a  class="footer__contacts-adress" href="#">г. Минск, пр-т Независимости, 37</a>
          <a  class="footer__contacts-global" href="greenmoon.by">greenmoon.by</a>
          <a  class="footer__contacts-mail" href="project@greenmoon.by">project@greenmoon.by</a>
        </div>
        <div class="footer__form-box">
          <div class="footer__form-header">
          <div class="footer__form-title">Остались вопросы?</div>
          <div class="footer__form-descr"> Отправьте запрос на консультацию и мы свяжемся с Вами!</div>
          </div>
          <div class="footer__form">
          <span class="footer__form--inputtitle">Ваше имя</span><input  class="footer__form-name" type="text">
          <span class="footer__form--inputtitle">Телефон</span><input  class="footer__form-phone" type="text" placeholder="+375 (xx) xxx-xx-xx">
          <span class="footer__form--inputtitle">E-mail</span><input  class="footer__form-email" type="text">
          <span class="footer__form--textarea">Сообщение (необязательно)</span><textarea  class="footer__form-text" type="text"></textarea>
          <button class="footer__form-btn">Отправить</button>  
          </div>
        </div>
      </div>
        <div class="footer__descriptions">
          <div class="footer__descriptions-copy">Mikhail Bakhtin © 2020 </div>
          <div class="footer__descriptions-partners">Официальные партнеры:</div>
          <div class="footer__descriptions-logobox">
          <img class="footer__descriptions-logo1" src="images/1c-bitrix.png" alt="#" >
          <img class="footer__descriptions-logo2" src="images/retail-crm.png" alt="#" >
          <img class="footer__descriptions-logo3" src="images/yclients.png" alt="#" >
          <img class="footer__descriptions-logo4" src="images/1C_logo.png" alt="#" >
          </div>
          <div class="footer__aside-item">
            <a class="footer__aside-link" href="" >Наверх</a>
            <img class="footer__aside-link--img" src="images/arrow-up.svg" alt="" >
        </div>     
        </div>
      </div>
</footer>