<header>
    <div class="container">
        <div class="header__top-content">
            <img class="header__top-logo" src="images/header-top-logo.svg">
            <div class="header__top-menu">
                <ul class="header-top__menu-list">
                    <li class="header-top__menu-item">
    <a href="#" class="header-top__menu-link">Инструменты</a>
                    </li>
                    <li class="header-top__menu-item">
    <a href="#" class="header-top__menu-link">Сервисы</a>
                    </li>
                    <li class="header-top__menu-item">
    <a href="#" class="header-top__menu-link">О нас</a>
                    </li>
                    <li class="header-top__menu-item">
    <a href="#" class="header-top__menu-link">Стоимость</a>
                    </li>
                    <li class="header-top__menu-item">
    <a href="#" class="header-top__menu-link">Обучение</a>
                    </li>
                    <li class="header-top__menu-item">
    <a href="#" class="header-top__menu-link">Контакты</a>
                    </li>
                </ul>
            </div>
            <button class="header__top-btn">
                Получить консультацию <!-- стрелку повесить на after -->
            </button> 
        </div>
         
        <div class="header__content">
            <div class="header__aside">
                <div class="header__aside-title">
                    Битрикс24 <span class ="header__aside-span">От официального партнера</span>
                </div>
                <div class="header__aside-text">
                    Всего 5 полезных инструментов для вашего бизнеса, 
                    чтобы работать вместе, успевать вовремя и повышать продажи!
                </div>
                <div class="header__aside-item">
                    <a class="header__aside-link" href="" >Узнать больше</a>
                    <img class="header__aside-link--img" src="images/arrow-down.svg" alt="" >
                </div>
            </div>
            <img class="header__logo" src="images/BG-logo.png">
           </div>
           <div class="header-circle">
            <div class="header-circle__inner">
              <ul class="header-circle__list">
                <li class="header-circle__list-item item--first">
                  <a href="#" class="header-circle__list-link">
                    <img class="header-circle__list-image" src="images/circle-img-1.svg" alt="" >
                  </a>
                </li>
                <li class="header-circle__list-item item--second">
                  <a href="#" class="header-circle__list-link">
                    <img class="header-circle__list-image" src="images/circle-img-2.svg" alt="" >
                  </a>
                </li>
                <li class="header-circle__list-item item--third">
                  <a href="#" class="header-circle__list-link">
                    <img class="header-circle__list-image" src="images/circle-img-3.svg" alt="" >
                  </a>
                </li>
                <li class="header-circle__list-item item--four">
                  <a href="#" class="header-circle__list-link">
                    <img class="header-circle__list-image" src="images/circle-img-4.svg" alt="" >
                  </a>
                </li>
                <li class="header-circle__list-item item--five">
                  <a href="#" class="header-circle__list-link">
                    <img class="header-circle__list-image" src="images/circle-img-5.svg" alt="" >
                  </a>
                </li>
              </ul>
            </div>
          </div>
        <div class="header__footer">
            <div class="header__footer-inner">
              <div class="header__footer-title">Битрикс24</div>
              <div class="header__footer-text">
                  упростит вам ежедневную работу, вовремя напомнит о поручениях, 
                  о приближающихся сроках, поможет контролировать и планировать, 
                  повысить продажи, получить больше постоянных клиентов, 
                  автоматизировать бизнес-процессы в вашей компании.
                </div>
            </div>
        </div>
    </div>
</header>