/* @font-face {
	font-family: 'Circe-Thin';
	src: url('../fonts/Circe-Thin.ttf') format('ttf'), url('../fonts/Circe-Thin.woff') format('wotf');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circe-ExtraLight';
	src: url('../fonts/Circe-ExtraLight.ttf') format('ttf'), url('../fonts/Circe-ExtraLight.woff') format('wotf');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circe-Light';
	src: url('Circe-Light.eot');
	src: url('../fonts/Circe-Light.ttf') format('ttf'), url('../fonts/Circe-Light.woff') format('wotf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circe-Regular';
	src: url("../fonts/Circe-Regular.ttf") format("ttf"), url("../fonts/Circe-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }


@font-face {
	font-family: 'Circe-Bold';
	src: url('../fonts/Circe-ExtraBold.ttf') format('ttf'), url('../fonts/Circe-ExtraBold.woff') format('wotf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circe-ExtraBold';
	src: url('../fonts/Circe-ExtraBold.ttf') format('ttf'), url('../fonts/Circe-ExtraBold.woff') format('wotf');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
} */



